html {
  font-size: 66.25%;
  position: relative;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Neue Helvetica", Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-family: "Neue Helvetica", Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
}

h3 {
  font-family: "Neue Helvetica", Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

header {
  position: fixed;
  display: flex;
  background-color: black;
  top: 0;
  width: 100vw;
  height: 12vh;
  padding: 0;
  z-index: 1000;
}

.logo img {
  background-image: url("images/fslogowhite.png");
  display: flex;
  box-sizing: border-box;
  display: block;
  align-items: center;
  height: 20%;
  width: 20%;
  padding: 1em;
  margin-left: 25px;
  margin-top: 10px;
  order: 1;
  z-index: 1;
}

.topNav {
  color: white;
  display: flex;

  font-style: normal;
  line-height: 13px;
  column-gap: 15px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 10;
  order: 3;
  position: absolute;
  right: 0px;
  top: 0px;
}

.topNav ul {
  display: flex;
  list-style-type: none;
}

.topNav ul li {
  display: inline-block;
  margin-right: 30px;
}

.topNav ul li a {
  color: white;
  display: inline-flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1.3em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-decoration: none;
}

.topNav li a {
  transition: all 0.5s ease-out 0s;
  cursor: pointer;
}

.topNav li a:hover {
  color: darkgrey;
}

.checkRates #checkRatesButton {
  position: absolute;
  top: 30px;
  right: 35px;
  padding: 5px 5px 5px 5px;
  margin: 2em;
  min-width: 11%;
  min-height: 11%;
  display: flex;
  font-family: "Neue Helvetica", Helvetica, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 10px;
  text-transform: uppercase;
  justify-content: center;
  background-color: white;
  cursor: pointer;

  transition: all 0.3s ease 0s;
  border: 0;
}

.checkRates #checkRatesButton p {
  text-decoration: none;
  text-align: center;
  align-items: center;
}
.checkRates #checkRatesButton:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.mainNav {
  color: white;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 13px;
  margin: 0 0 10px 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  z-index: 4;
  position: fixed;
  padding: 30px 0 30px 130px;
  align-items: flex-start;
  float: left;
}

.mainNav ul {
  margin: 0;
  padding: 0;
}

.mainNav li {
  margin-right: 1em;
}

.mainNav ul li {
  display: inline-flex;
  list-style-type: none;
}

.mainNav ul li a {
  color: white;
  display: inline-flex;
  font-size: 0.6em;
  text-transform: uppercase;
  line-height: 1.3em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  text-decoration: none;
}

.mainNav li a {
  transition: all 0.5s ease-out 0s;
  cursor: pointer;
}

.mainNav li a:hover {
  color: darkgrey;
}

.heroImage {
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0),
      rgba(0, 0, 0, 0.486)
    ),
    url("images/MAR_843_original.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 95%;
  align-content: flex-end;
}

.heroText {
  font-family: "Neue Helvetica", Helvetica, sans-serif;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.25em;
  line-height: 1.5em;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  padding: 0 0 70px 45px;
  position: absolute;
  bottom: 1em;
  left: 1em;
}
.heroText .eyebrow {
  box-sizing: border-box;
  display: block;
  font-family: "Monotype Garamond", "Garamond", serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.07em;
  text-transform: none;
  font-size: 1em;
}

.heroText h1 {
  font-family: "Neue Helvetica", Helvetica, sans-serif;
  box-sizing: border-box;
  display: block;
  font-style: normal;
  font-weight: 200;
  font-size: 44px;
  line-height: 62px;
  margin: 0 0 15px 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.heroText p {
  box-sizing: border-box;
  display: block;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 10px;
  width: 50em;
  line-height: 18px;
  overflow-wrap: break-word;
}

.heroHotlinks {
  color: white;
  box-sizing: border-box;
  font-style: normal;
  line-height: 13px;
  column-gap: 15px;
  margin: 0 0 10px 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}

.heroHotlinks ul {
  margin: 0;
  padding: 0;
}

.heroHotlinks ul li {
  display: inline-flex;
  list-style-type: none;
}

.heroHotlinks ul li a {
  color: white;
  display: inline-flex;
  font-size: 0.6em;
  text-transform: uppercase;
  line-height: 1.3em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.3em;
}

.heroHotlinks li a {
  transition: all 0.5s ease-out 0s;
  cursor: pointer;
}

.heroHotlinks li a:hover {
  color: darkgrey;
}

/* footer option */
.footer {
  background-color: black;
  width: 100%;
  bottom: 0;
  position: sticky;
}
.pagefooterLogo {
  display: flex;
  align-content: center;
  justify-content: center;
  background: url("images/FS_Brand_Logo2.svg");
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  height: 100px;
  /* top | right | bottom | left */
  padding-top: 50px;
}

.footerNav {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  align-items: baseline;
  line-height: 2em;
  letter-spacing: 0.50004px;
  font-size: 1.1em;
  font-family: "Monotype Garamond", "Garamond", "serif";
  font-weight: 400;
  font-style: italic;
  color: white;
}

.footerNav ul {
  list-style-type: none;
}

.footerNav ul li a {
  font-weight: 700;
  font-style: normal;
  font-family: "Neue Helvetica", "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  text-decoration: none;
  color: white;
}

main {
  min-height: 100%;
  position: relative;
}

.section-box {
  background-color: rgb(245, 245, 245);
  color: black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

  /* top | right | bottom | left */
  padding: 100px auto 100px auto;
  border: none;
  /* top | right | bottom | left */
  margin: 100px auto 100px auto;
  max-width: 1600px;
  min-width: 312px;
  min-height: 350px;
}
.sectionboxContent {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* top | right | bottom | left */
  padding: 10px 20px 10px 20px;
  border: none;
  /* top | right | bottom | left */
  margin: 0px auto 0px auto;
  min-width: 10%;
  min-height: 10%;
}

.sectionboxContent #sectionboxContentH {
  font-family: "Neue Helvetica", "Helvetica", "sans-serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
}

.sectionboxContent #sectionboxContentP {
  font-family: "Neue Helvetica", "Helvetica", "sans-serif";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.49995px;
  line-height: 30px;
}
.featureOffers {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.headerOffers {
  display: flex;
  flex-direction: row;
  /* top | right | bottom | left */
  padding: 100px auto 100px auto;
  border: none;
  /* top | right | bottom | left */
  margin: 100px auto 0 auto;
  width: 70%;
}

.headerOffers h2 {
  font-family: "Neue Helvetica", "Helvetica", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.featureOffers h3 {
  font-family: "Neue Helvetica", "Helvetica", "sans-serif";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.featureOffers p {
  color: white;
  font-size: 12px;
  font-weight: 400;
}
.featureOffers a {
  text-decoration: none;
}

/* Featured Offer Cards */
.featureoffersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featureCard {
  background-color: blue;
  min-height: 400px;
  min-width: 300px;
  margin: 20px;
  position: relative;
  cursor: pointer;
}

.featureCard #overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
}

.featureCard #overlay:hover:after {
  opacity: 1;
}

.featureCard h3 {
  position: absolute;
  bottom: 30px;
  left: 16px;
}
.featureCard p {
  position: absolute;
  bottom: 3px;
  left: 16px;
}

.featureOffer {
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image1 {
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.159),
      rgba(0, 0, 0, 0.693)
    ),
    url("images/SKO_432_aspect16x9.jpg");
  z-index: 20;
}

.image2 {
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.159),
      rgba(0, 0, 0, 0.693)
    ),
    url("images/BEJ_153_original.jpg");
  z-index: 20;
}

.image3 {
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.159),
      rgba(0, 0, 0, 0.693)
    ),
    url("images/MAR_311_aspect16x9.jpg");
  z-index: 20;
}

.image4 {
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.159),
      rgba(0, 0, 0, 0.693)
    ),
    url("images/MAR_300_original.jpg");
  z-index: 20;
}

.featureexperiencesContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width:100%
  min-height: 100vh;
}

.featureExperiencesHeader {
  text-align: center;
  /* top | right | bottom | left */
  padding: 100px auto 100px auto;
  border: none;
  /* top | right | bottom | left */
  margin: 100px auto 50px auto;
}

.featureExperiencesHeader h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 200px;
}

.featureExperiences {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(17, 17, 17, 0.159);
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
}

.featureCarouselImage {
  flex-wrap: wrap;
  background: red;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 50%;
  min-height: 100vh;
  flex: 1;
  margin: 0;
}
.f-image1 {
  background-image: url("images/MAR_890_original.jpg");
}
.f-image2 {
  background-image: url("images/MAR_849_original.jpg");
}
.f-image3 {
  background-image: url("images/MAR_837_original.jpg");
}

.featureCarouselText {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  max-width: 50%;
  min-height: 100vh;
 
}
.featureCarouselText #featureExpHead, #featureExpTxt {
  display: block;
  box-sizing: border-box;

/* top | right | bottom | left */
margin: 2rem 10rem 0rem 5rem;
border: 0;
/* top | right | bottom | left */
padding: 2rem 10rem 2rem 5rem;
width: 65%;
}

.featureCarouselText #featureExpHead {
  font-family: "Neue Helvetica", "Helvetica", "sans-serif";
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
  text-transform: uppercase;
}

.featureCarouselText #featureExpTxt {
  font-family: "Monotype Garamond", "Garamond", "serif";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.featureDining {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 90vw;
}

.featurediningHeadline {
  /* top | right | bottom | left */
  margin: 5rem 10rem 0rem 15rem;
  border: 0;
  /* top | right | bottom | left */
  padding: 0rem 10rem 0rem 2rem;
}

.featurediningHeadline h2 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
}

.featurediningText {
  display: block;
  /* top | right | bottom | left */
  margin: 0rem 2rem 0rem 15rem;
  border: 0;
  /* top | right | bottom | left */
  padding: 0rem 1rem 0rem 2rem;
}

.featurediningText p {
  font-family: "Monotype Garamond", "Garamond", serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.featurediningImage {
  display: block;
  justify-content: center;
  align-self: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 85rem;
  width: 190rem;
  /* top | right | bottom | left */
  margin: 0rem 2rem 5rem 17rem;
  border: 0;
  /* top | right | bottom | left */
  padding: 0rem 2rem 5rem 2rem;
}

@media (min-width: 40rem) {
  .featurediningImage {
    flex-direction: row;
  }
}

.d-image1 {
  background-image: url("images/MAR_911_original.jpg");
}

.featureEmployee {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  margin-top: 30rem;
  margin-bottom: 20rem;
}

.feature-employeeQuote {
  display: block;
  position: relative;
  z-index: 50;
}
.feature-employeeQuote > * {
  z-index: 10;
  position: relative;
}

.feature-employeeQuote::after {
  content: "";
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 3),
      rgba(255, 255, 255, 0.118)
    ),
    url("images/MAR_1203_original.jpg");
  width: 100%;
  min-height: 100em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.quoteblock p {
  font-size: 7rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.5;
  line-height: 9rem;
  font-family: "Monotype Garamond", "Garamond", "serif";
  /* top | right | bottom | left */
  margin: -20rem 8rem 0rem 8rem;
  border: 0;
  /* top | right | bottom | left */
  padding: 11rem 10rem 0rem 10rem;
  z-index: 2;
}

.quoteblock .position {
  font-family: "Monotype Garamond", "Garamond", "serif";
  font-weight: 400;
}
.quoteblock {
  font-size: 1em;
}

.moreExperiences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 2rem;
  padding: 2rem;
}

.moreExperiences #experienceButton {
  display: block;
  box-sizing: border-box;
  padding: 1em;
  border: 0.1rem solid black;
  margin: 1em;
  width: 11%;
  font-family: "Neue Helvetica", Helvetica, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 10px;
  text-transform: uppercase;
  justify-content: center;
  background-color: white;
  cursor: pointer;

  transition: all 0.3s ease 0s;
}

.moreExperiences #experienceButton p {
  text-decoration: none;
}
.moreExperiences #experienceButton:hover {
  background-color: black;
  color: white;
  border: 0.1rem solid white;
}

.socialFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  margin: 2em;
  border: 0;
  padding: 2em;
}

.socialHeader h2 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 1rem;
  line-height: 2rem;

  margin-top: 2rem;
  margin-bottom: 0rem;
  border: 0;
  padding: 2rem;
}

.socialText p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Monotype Garamond", "Garamond", "serif";
  letter-spacing: 0.1rem;
  line-height: 2rem;

  margin: 2rem 2rem;
  border: 0;
  padding: 2rem;
}

.socialcardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
 
  
}

.socialCard {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: blue;
  width: 15%;
  min-height: 20rem;
/* vertical | horizontal */
margin: 3rem 1.5rem;
}

.SC-1 {
  background-image: url("images/MAR_UGC_missa_bridalac.jpg");
}
.SC-2 {
  background-image: url("images/MAR_UGC_konnicheewah.jpg");
}
.SC-3 {
  background-image: url("images/MAR_ugc_cliffclf.jpg");
}


